{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Nos Produits</h1>

        <div class="product-grid"> {# Déplacez cette ligne ici #}
            {% for produit in produits %}
                <div class="product-item"> {# Utilisez .product-item ici #}
                    <h2>{{ produit.Nom }}</h2>
                    <p>{{ produit.Description }}</p>
                    <p>Prix: {{ produit.prix }} €</p>

                    <h3>Photos</h3>
                    <ul class="product-photos">
                        {% for photo in produit.productPhotos %}
                            <li>
                                <img src="{{ photo.photoUrl }}" alt="Photo du produit {{ produit.Nom }}" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
